.footer {
	@extend .cf;
	border-top: 1px solid $gray;
	margin: 50px -15px 0;
	padding: 30px 15px;
	text-align: center;
	@include breakFirst(large){
		margin-top: 50px;
		padding: 30px 0;
	}
	p {
		display: none;
		@include breakFirst(medium){
			display: block;
		}
		&.footer-mobile {
			display: block;
			@include breakFirst(medium){
				display: none;
			}
		}
	}
}
.logo-footer {
	color: $blue;
	height: 65px;
	width: 65px;
	@include breakFirst(large){
		float: left;
	}
	&:hover, &:focus {
    color: lighten($blue,10);
	}
}
.footer-copy-wrap {
	font-size: 13px;
	margin-top: 15px;
	@include breakFirst(large){
		float: right;
		text-align: right;
	}
	p {
		margin: 0;
	}
}
.footer-nav {
	color: #949494;
	font-size: 13px;
  line-height: 13px;
	margin: 0 0 5px;
	@include breakFirst(medium){
		margin: 0;
	}
	li {
		display: inline-block;
		margin-left: 5px;
		position: relative;
		&:first-child {
			margin: 0;
			&:before {
				display: none;
			}
		}
		&:before {
			background: $blue;
			content: '';
			display: inline-block;
			height: 13px;
			margin-right: 7px;
			transform: translateY(2px);
			width: 2px;
			@include breakFirst(large){
				background: $textColor;
			}
		}
	}
	a {
		color: $blue;
		font-size: 13px;
		font-weight: 600;
		@include breakFirst(large){
			color: $textColor;
		}
		&:hover, &:focus {
			color: $blue;
		}
	}
}