body {
  color: $textColor;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 0;
  padding-top: 140px;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkColorHover;
  }
}

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  color: $headingsColor;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  margin: 0 0 20px;
  line-height: 1.2;
  text-rendering: optimizelegibility;
  @include breakFirst(medium){
    margin-bottom: 40px;
  }
}

h1 {
  font-size: 22px;
  @include breakFirst(medium){
    font-size: 32px;
  }
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 14px;
}

p, ul {
  margin: 0 0 20px;
}

img {
  display: block;
  &.img-full {
    height: auto;
    width: 100%;
  }
}

.hide-mobile {
  @include break(small){
    display: none !important;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $gray;
  margin: 15px 0;
}

.resp-break {
  @include breakFirst(large){
    display: block;
  }
}

.icon-svg {
  display: inline-block;
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.btn {
  background: $blue;
  border: none;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: block;
  font: 600 14px/1.2 $fontFamily;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  &:hover, &:focus {
    background: lighten($blue,10);
    color: $white;
  }
  &.btn-large {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
  }
  &.btn-green {
    background: $green;
    &:hover, &:focus {
      background: lighten($green,10);
    }
  }
}

input {
  border: 1px solid $gray;
  border-radius: 5px;
  font-size: 18px;
  padding: 9px 5px;
  text-align: center;
  width: 60px;
  &:hover, &:focus {
    background: #f7f7f7;
    outline: none;
  }
}

// Hide the text and show an image
%textToImg {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

%centerVert, .center-vert {
  @include breakFirst(medium){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertLarge, .center-vert-large {
  @include breakFirst(large){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertAll, .center-vert-all {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
