.header {
	background: $white;
	border-bottom: 1px solid $gray;
	color: $blue;
	font-size: 0;
	min-height: 80px;
	left: 0;
	padding: 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zUI;
	@include breakFirst(large){
		background: $blue;
		border: none;
		box-shadow: 0 2px 5px rgba(0,0,0,.35);
		color: $white;
		min-height: 100px;
		padding: 25px 0;
	}
}
.logo-metrimart, .form-search, .account-info, .btn-cart, .logo-metrimart-mobile {
	display: inline-block;
	vertical-align: middle;
	@include breakFirst(large){
		vertical-align: top;
	}
}
.logo-metrimart, .account-info, .btn-cart {
	@include breakFirst(medium){
		margin-top: 8px;
	}
}
.logo-metrimart {
	display: none;
	@include breakFirst(large){
		color: $white;
		display: inline-block;
		height: 36px;
		margin-right: 77px;
		width: 177px;
	}
	&:hover, &:focus {
		@include breakFirst(large){
			color: $yellow;
		}
	}
}
.logo-metrimart-mobile {
	color: $blue;
	height: 30px;
	width: 30px;
	@include breakFirst(large){
		display: none;
	}
	&:hover, &:focus {
		color: $blue;
	}
}
.form-search {
	margin: 0 10px;
	width: calc(100% - 84px);
	@include breakFirst(large){
		margin-right: 40px;
		width: 440px;
	}
	@include breakFirst(wide){
		width: 640px;
	}
	input {
		border: 1px solid $gray;
		border-radius: 5px;
		color: $grayDark;
		font: 600 14px $fontFamily;
		padding: 8px 10px;
		text-align: center;
		width: 100%;
		@include breakFirst(large){
			border: none;
			border-radius: 30px;
			font-size: 16px;
			padding: 14px 20px;
			text-align: left;
		}
		&::placeholder {
			color: #C0C0BF;
		}
		&.search-small {
			display: block;
			@include breakFirst(large){
				display: none;
			}
		}
		&.search-large {
			display: none;
			@include breakFirst(large){
				display: block;
			}
		}
	}
}
.account-info {
	color: $white;
	display: none;
	font: 600 16px/1 $fontFamily;
	margin-right: 60px;
	@include breakFirst(large){
		display: inline-block;
	}
	&:hover, &:focus {
		color: $yellow;
	}
	span {
		color: $yellow;
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
	}
}
.btn-cart {
	color: $blue;
	height: 28px;
	width: 26px;
	@include breakFirst(large){
		color: $white;
		height: 32px;
		width: 30px;
	}
	&:hover, &:focus {
		color: $blue;
		@include breakFirst(large){
			color: $yellow;
		}
	}
}