.price {
	color: $blue;
}
.price.large {
	@extend h1;
	color: $blue;
	display: block;
	font-size: 18px;
	text-align: right;
	@include breakFirst(medium){
  	color: $headingsColor;
		font-size: 32px;
		text-align: left;
	}
}
.other-product-wrap {
	border-top: 1px solid $gray;
	margin: 0 -15px;
	padding: 30px 15px 0;
	@include breakFirst(medium){
		margin-top: 10px;
		padding-top: 30px;
	}
	h2 {
		color: #565656;
		font-size: 18px;
		margin-bottom: 30px;
	}
}
.order-form {
	border-bottom: 1px solid $gray;
	border-top: 1px solid $gray;
	margin: 0 -15px 20px;
	padding: 15px;
	@include breakFirst(medium){
		border-top: none;
		margin: 0 0 20px;
		padding: 20px 0;
	}
	label {
		margin-right: 20px;
	}
	input {
		margin-right: 10px;
		padding: 14px 5px;
		@include breakFirst(medium){
			margin: 0;
			padding: 9px 5px;
		}
	}
	.btn {
		display: inline-block;
		width: calc(100% - 159px);
		@include breakFirst(medium){
			display: block;
			margin-top: 20px;
			width: 100%;
		}
	}
}
.reviews-wrap {
	display: none;
	@include breakFirst(medium){
		border-bottom: 1px solid $gray;
		border-top: 1px solid $gray;
		display: block;
		padding: 10px 0;
	}
}
.other-product {
	border: 1px solid $gray;
	border-radius: 5px;
	font-weight: 600;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 15px 15px 75px;
	position: relative;
	@include breakFirst(medium){
		margin-bottom: 0
	}
	@include breakFirst(large){
		padding: 20px 20px 80px;
	}
	@include breakFirst(wide){
		min-height: 400px;
	}
	&:hover {
		border-color: darken($gray,15);
	}
	.price {
		display: block;
	}
	.product-title {
		color: $textColor;
		&:hover, &:focus {
			color: $blue;
		}
	}
	.product-image {
		display: block;
		margin-bottom: 10px;
		&:hover, &:focus {
			opacity: .65
		}
	}
	.btn {
		bottom: 20px;
		left: 20px;
		position: absolute;
		width: 100%;
		width: calc(100% - 40px);
	}
}
.product-desc-more {
	.js & {
		display: none;
		@include breakFirst(large){
			display: block;
		}
	}
	&.show {
		display: block;
	}
}
.btn-product-desc {
	color: $blue;
	cursor: pointer;
	display: none;
	margin-bottom: 20px;
	.js & {
		display: block;
		@include breakFirst(large){
			display: none;
		}
	}
}