// COLORS
// -------------------------
$white:									#fff !default;
$grayDark:              #828282 !default;
$blue: 									#138FDC !default;
$yellow: 								#FDCA40 !default;
$red:										#ED4040 !default;
$green:									#42BC4E !default;
$black:									#444 !default;
$gray:									#E2E2E2 !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             #565656 !default;


// Layering
// -------------------------
$zUI: 									1000 !default;

// Links
// -------------------------
$linkColor:             blue !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Transitions
// -------------------------
$cbTrans: 							cubic-bezier(0.165, 0.84, 0.44, 1);
$pageTrans: 						cubic-bezier(.54,.06,.55,.97);

// TYPOGRAPHY
// -------------------------
$fontFamily:						"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $fontFamily !default;
$baseLineHeight:        22px !default;

$headingsFontFamily:    inherit !default;
$headingsFontWeight:    600 !default;
$headingsColor:         $textColor !default;

// MEDIA QUERIES BREAKPOINTS
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1220px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-tablet !default;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:            ((720px + $grid-gutter-width)) !default;

// Medium screen / desktop
$container-desktop:           ((940px + $grid-gutter-width)) !default;

// Large screen / wide desktop
$container-lg-desktop:        ((1140px + $grid-gutter-width)) !default;
